<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purchase.sls">

    <!-- Normal Permissions-start -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 获取网络状态信息 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Normal Permissions-end -->


    <!-- Dangerous Permissions-star -->
    <!-- group:android.permission-group.CONTACTS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- group:android.permission-group.PHONE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- group:android.permission-group.CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- group:android.permission-group.LOCATION -->
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- group:android.permission-group.STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- group:android.permission-group.MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Dangerous Permissions-end -->

    <!-- 极光推送权限开始 -->
    <permission
        android:name="com.purchase.sls.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.purchase.sls.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Particular Permission start -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <!-- Particular Permission end -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 极光推送权限结束 -->

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4fa5cf480a40e2e6bc4680c349aaa2c1" />

        <!-- 友盟统计参数配置开始 -->
        <!--<meta-data-->
            <!--android:name="UMENG_APPKEY"-->
            <!--android:value="5ab7102aa40fa357cb000ba3"/>-->
        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="${channel}"/>-->

        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:scheme="ngclientweb"
                    android:host="app"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".common.unit.NetUtils">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!--微信-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--qq-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106855095" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 支付前，将应用注册到微信 -->
        <receiver
            android:name=".wxapi.AppRegister"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>


        <!-- 极光推送广播 -->
        <receiver
            android:name=".push.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.purchase.sls" />
            </intent-filter>
        </receiver>

        <service android:name=".common.unit.DownloadService"/>
        <activity
            android:name=".splash.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainframe.ui.MainFrameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ui.AccountLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ui.SmsLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ui.RegisterFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ui.RegisterSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.ui.ChoiceCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.ui.QrCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.ui.ScreeningListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopdetailbuy.ui.ShopDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.ui.CollectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.ui.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopdetailbuy.ui.PaymentOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopdetailbuy.ui.PaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.ui.AccountListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.ui.AccountDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.ui.IntercourseRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.ui.AccountChooseTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coupon.ui.CouponListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".energy.ui.EnergyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".browse.ui.BrowseRecordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.PersonalInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.ChangeNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.ShiftHandsetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".evaluate.ui.AllEvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".evaluate.ui.ToBeEvaluatedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".evaluate.ui.SubmitEvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".evaluate.ui.EvaluateSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.ui.SearchShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.ui.MessageNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.ChangeHeadPortraitActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mine.ui.RdCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".address.ui.SelectAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".address.ui.AddAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".address.ui.AddressListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".energy.ui.SkEcLtActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>